<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>黑白棋</title>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/vue.js"></script>
</head>
<style>
  .box {
    margin: auto;
    border: 1px solid #000;
    width: 800px;
    height: 550px;
  }

  .counter {
    text-align: center;
  }

  .tbl {
    margin: auto;
    border: 1px solid #333;
  }

  .tbl td {
    border: 1px solid #666;
    width: 40px;
    height: 40px;
  }

  .tbl td div {
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
  }

  .tbl .black {
    background-color: #000;
    border-radius: 20px;
  }

  .tbl .white {
    border: 1px solid #000;
    border-radius: 20px;
  }
</style>

<body>
  <div class="box">
    <p class="note">黑白棋</p>
    <p class="note">规则：执黑先行，处于两个异色棋子之间的棋子，颜色会转换,棋盘上填满棋子时结束，拥有较多棋子的人获胜.
      <br> 说明：每一步必须转换至少一个棋子，若不能，该回合将被自动放弃
    </p>
    <div class="counter">
      my-black: <span id="bp">2 </span> pc-white: <span id="wp">2 </span>
    </div>
    <table class="tbl" id="chessboard">
      <tr v-for="item,index in chesses" :id="'r'+index">
        <td v-for="item2,index2 in item">
          <div :class='["","black","white"][item2]' :id="'c'+index+index2"></div>
    </table>
  </div>
</body>
<script>
  var player = "black",
    playerObj = {
      black: 1,
      white: 2
    },
    // chesses = [],
    changeTds = [],
    chessboard = document.getElementById("chessboard");
  document.oncontextmenu = function () {
    return false;
  }
  var chess = new Vue({
    el: '.box',
    data: {
      chesses: Array(8).fill(0).map(item => Array(8).fill(0)), //二维数组,0是初值,1是黑棋,2是白棋
      // bp_count: this.chesses.join(',').match(/1/g)?this.chesses.join(',').match(/1/g).length:0,
      // wp_count: this.chesses.join(',').match(/2/g)?this.chesses.join(',').match(/2/g).length:0,
      // player: "black"
    },
    wacth: {
      /*chesses(news,old) {
        console.log(news,old)
        this.bp_count = this.chesses.join(',').match(/1/g) ? this.chesses.join(',').match(/1/g).length : 0
        // this.wp_count = chesses.join(',').match(/2/g)?chesses.join(',').match(/2/g).length:0,
      }*/
    },
    mounted() {
      $("#chessboard").on("mousedown", "div", (e) => {
        var tar = e.target,
          col = tar.parentNode.cellIndex,
          row = tar.parentNode.parentNode.rowIndex;
        if (tar.className !== "") {
          return 0;
        }
        if (this.doPut().length == 0) {
          alert("你已无棋可下, 交换选手!");
          player = "white";
          setTimeout(this.pcPlayer, 500);
        }
        this.judge(row, col, player);
        console.log(changeTds)
        if (changeTds.length > 0) {
          this.putchess(row, col, player);
        } else {
          tar.style.backgroundColor = "red";
          $(tar).one("mouseup", function () {
            this.removeAttribute("style");
          });
          return 0;
        }
        setTimeout(this.pcPlayer, 500);
      });
      this.init();
    },
    methods: {
      init() {
        this.putchess(3, 3, 1);
        this.putchess(3, 4, 2);
        this.putchess(4, 4, 1);
        this.putchess(4, 3, 2);
      },
      putchess(row, col, curplayer) {
        if (typeof curplayer === "number") {
          curplayer = curplayer === 1 ? "black" : "white";
        }
        // chessboard.rows[row].cells[col].children[0].className = curplayer;
        //this.chesses[row][col] = playerObj[curplayer];
        this.$set(this.chesses[row], col, playerObj[curplayer]);
        player = curplayer === "white" ? "black" : "white";
        // bp.innerHTML = document.getElementsByClassName("black").length;
        // wp.innerHTML = document.getElementsByClassName("white").length;
        changeTds.forEach(item => {
          let [row, col] = item.substr(1).split('');
          this.$set(this.chesses[row], col, playerObj[curplayer])
        })
        bp.innerHTML = this.chesses.join(',').match(/1/g) ? this.chesses.join(',').match(/1/g).length : 0
        wp.innerHTML = this.chesses.join(',').match(/2/g) ? this.chesses.join(',').match(/2/g).length : 0
        changeTds = [];
      },
      checkNei(start, arr, player, tds) { // 判断是否可放子
        if (arr.length < 3 || arr[start] > 0 ||
          !((arr[start - 1] > 0 && arr[start - 1] != playerObj[player]) ||
            (arr[start + 1] > 0 && arr[start + 1] != playerObj[player]))) {
          return false;
        }
        if (player === "black") {
          if (/^2+1/.test(arr.slice(start + 1).join(""))) {
            changeTds = changeTds.concat(tds.slice(start + 1, arr.indexOf(1, start)));
          }
          if (/12+$/.test(arr.slice(0, start).join(""))) {
            changeTds = changeTds.concat(tds.slice(arr.lastIndexOf(1, start) + 1, start));
          }

        } else {
          if (/^1+2/.test(arr.slice(start + 1).join(""))) {
            changeTds = changeTds.concat(tds.slice(start + 1, arr.indexOf(2, start)));
          }
          if (/21+$/.test(arr.slice(0, start).join(""))) {
            changeTds = changeTds.concat(tds.slice(arr.lastIndexOf(2, start) + 1, start));
          }
        }
      },
      judge(row, col, cplayer) {
        var h_arr = this.chesses[row], //横向
          h_td = Array(8).fill(0).map((item, index) => 'c' + row + index),
          v_td = Array(8).fill(0).map((item, index) => 'c' + index + col),
          en_td = [],
          es_td = [],
          v_arr = this.chesses.map((v, i) => v[col]), //竖向
          es_arr = [], //东南方向
          en_arr = [], //东北方向
          ii = 0,
          jj = 0; //东北斜向
        changeTds = [];
        // if
        this.chesses.forEach(function (v, i) { //东南方向
          var num = 7 - col + row;
          //添加东南方向在当前棋子方向的棋
          if ((num < 8 && num >= i) || (num > 7 && num - 7 <= i)) {
            es_arr.push(v[i + 7 - num])
            es_td.push('c' + i + (i + 7 - num));
          }
          if (row === i) {
            es_arr.start = es_arr.length - 1;
          }
        });
        this.chesses.forEach(function (v, i) { //东北方向
          var num = row + col;
          //添加东北方向在当前棋子方向的棋
          /*if ((num <= 7 && num >= i) || (num > 7 && num - i <= 7)) {
            en_arr.push(v[num - i]);
          }*/
          v[num - i] !== undefined && en_arr.push(v[num - i]) && en_td.push('c' + i + (num - i));
          if (row === i) {
            en_arr.start = en_arr.length - 1;
          }
        });
        this.checkNei(col, h_arr, player, h_td);
        this.checkNei(row, v_arr, player, v_td);
        this.checkNei(es_arr.start, es_arr, player, es_td);
        this.checkNei(en_arr.start, en_arr, player, en_td);
      },
      doPut() {
        var i = 0,
          j = 0,
          canPut = [];
        for (; i < 8; i++) {
          for (j = 0; j < 8; j++) {
            this.judge(i, j, player);
            if (changeTds.length > 0) {
              canPut.push({
                row: i,
                col: j,
                chTds: changeTds
              })
            }
          }
        }
        return canPut;
      },
      pcPlayer() {
        var put = 0,
          canPut = [];
        canPut = this.doPut();
        if (canPut.length == 0) {
          player = "black";
          if (this.doPut().length === 0) {
            if (+bp.innerHTML > +wp.innerHTML) {
              alert("双方无棋可下, 你已获胜!")
            } else {
              alert("双方无棋可下, 电脑已获胜!")
            }
          } else {
            alert("电脑无棋可下, 你继续!");
          }
          return 0;
        }
        canPut.sort((a, b) => a.chTds.length > b.chTds.length ? -1 : 1);
        $(canPut).each((i, v) => {
          if ((v.row == 0 || v.row == 7) && (v.col == 0 || v.col == 7)) {
            changeTds = v.chTds;
            this.putchess(v.row, v.col, player);
            put = 1;
            return false;
          } else if (v.row == 0 || v.row == 7 || v.col == 0 || v.col == 7) {
            changeTds = v.chTds;
            this.putchess(v.row, v.col, player);
            put = 1;
            return false;
          }
        })
        if (!put) {
          changeTds = canPut[0].chTds;
          this.putchess(canPut[0].row, canPut[0].col, player);
        }
        if (+bp.innerHTML + +wp.innerHTML === 64) {
          +bp.innerHTML > +wp.innerHTML ? alert("双方无棋可下, 你已获胜!") :
            alert("双方无棋可下, 电脑已获胜!");
        }
      }
    }
  })
</script>

</html>